@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PretendardVariable";
  font-weight: normal;
  src: url("./assets/font/PretendardVariable.ttf") format("truetype");
}

body {
  font-family: "PretendardVariable";
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(86, 86, 86, 0.281);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(57, 57, 57, 0.444);
}
